@font-face {
  font-family: "SfProDisplay";
  src: local("SfProDisplay"),
    url("./fonts/FontsFree-Net-SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: SfProDisplay;
}

:root {
  --background: #fffcf9;
  --book-white: #fefefe;
  --detailNav-white: #f2f2f2;
  --author-white: #e7e7e1;
  --light-grey: #54565a;
  --grey: #3f4043;
  --dark-grey: hsl(210, 4%, 22%);
  --nav-grey: #313131;

  --detail-grey: rgba(49, 49, 49, 0.6);
  --book-grey: rgba(49, 49, 49, 0.8);

  --pastel-red: #ff6978;
  --light-blue: #4abdf1;
}
